# Mac
.DS_Store

# Intellij
.idea/

# VSCode
.vscode
plugins/

# Eclipse
.classpath
.project
.settings/

# temp files
/*.log
npm-cache/
log/
/*.eslintcache

# npm
node_modules

/demo
/lib

*.log
*.lock
package-lock.json
public/
coverage
*.tgz
